h1{
    text-align: center;
    color: green;
    background-color: cyan;
}
p{
    color: red;
    
}
table, td,th{
    border: 2px solid red;
    text-align: center;
    border-collapse:collapse ;
    padding: 10px;
}
p{
    text-align: center;
}
image{
    align-self: center;
}
form{
    text-align: center;
}